n8n-flow-slack-notify.json
{
  "name": "Halleluja OS → Slack Notifications v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "halleluja-notify",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook empfangen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "halleluja-notify"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst evt = body.event;\nconst actor = body.actor || {};\nconst actorName = actor.name || 'Jemand';\nconst teamChannel = $env.SLACK_NOTIFY_CHANNEL || 'C0A7LTX603Z';\nconst appUrl = body.app_url || 'https://ludwig-a11y.github.io/halleluja-os/';\nconst openLink = `<${appUrl}|App öffnen>`;\n\nlet targets = [];\n\nswitch(evt) {\n  case 'aufgabe_zugewiesen': {\n    const msg = `📋 *${actorName}* hat dir eine Aufgabe zugewiesen:\\n> ${body.aufgabe || '?'}${body.prio ? ' (' + body.prio + ')' : ''}${body.dl ? ' — fällig: ' + body.dl : ''}\\n${openLink}`;\n    if (body.fuer && body.fuer.slack_id) {\n      targets.push({ channel: body.fuer.slack_id, text: msg });\n    } else {\n      targets.push({ channel: teamChannel, text: `📋 *${actorName}* → *${(body.fuer && body.fuer.name) || '?'}*: ${body.aufgabe || '?'}${body.prio ? ' (' + body.prio + ')' : ''} ${openLink}` });\n    }\n    break;\n  }\n  case 'meilenstein_erledigt': {\n    targets.push({ channel: teamChannel, text: `🎯 *${actorName}* hat einen Meilenstein erreicht! 🎉\\n> ✅ *${body.meilenstein || '?'}*${body.ziel ? '\\n> Ziel: ' + body.ziel : ''}\\n${openLink}` });\n    break;\n  }\n  case 'big3_erledigt': {\n    targets.push({ channel: teamChannel, text: `✅ *${actorName}* hat ein Big-3-Ziel erledigt (KW ${body.kw || '?'}):\\n> ${body.big3 || '?'}` });\n    break;\n  }\n  case 'blocker': {\n    const msg = `⚠️ *${actorName}* meldet einen Blocker:\\n> ${body.blocker || '?'}\\n${openLink}`;\n    const gfIds = body.gf_slack_ids || [];\n    if (gfIds.length) {\n      gfIds.forEach(sid => targets.push({ channel: sid, text: msg }));\n    } else {\n      targets.push({ channel: teamChannel, text: msg });\n    }\n    break;\n  }\n  default:\n    targets.push({ channel: teamChannel, text: `${actorName}: ${evt}` });\n}\n\nreturn targets.map(t => ({ json: t }));"
      },
      "id": "format",
      "name": "Nachricht formatieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, unfurl_links: false }) }}",
        "options": {}
      },
      "id": "slack-send",
      "name": "An Slack senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0]
    }
  ],
  "connections": {
    "Webhook empfangen": {
      "main": [[ { "node": "Nachricht formatieren", "type": "main", "index": 0 } ]]
    },
    "Nachricht formatieren": {
      "main": [[ { "node": "An Slack senden", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
