n8n-flow-slack-notify-v3.json
{
  "name": "Halleluja Notify v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "halleluja-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "halleluja-notify"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst evt = body.event || 'unknown';\nconst actorName = (body.actor && body.actor.name) ? body.actor.name : 'Jemand';\nconst appUrl = body.app_url || 'https://ludwig-a11y.github.io/halleluja-os/';\nconst teamChannel = 'C0A7LTX603Z';\nconst teamIds = body.team_slack_ids || [];\n\nlet text = actorName + ': ' + evt;\nlet targets = [teamChannel];\n\nif (evt === 'aufgabe_gestartet') {\n  const prio = body.prio ? ' (' + body.prio + ')' : '';\n  text = '▶ *' + actorName + '* hat losgelegt' + prio + ' — <' + appUrl + '|Woran arbeitest du gerade?>';\n  if (teamIds.length) targets = teamIds;\n} else if (evt === 'aufgabe_erledigt') {\n  const prio = body.prio ? ' (' + body.prio + ')' : '';\n  text = '✅ *' + actorName + '* hat eine Aufgabe erledigt' + prio + ' — <' + appUrl + '|App öffnen>';\n  if (teamIds.length) targets = teamIds;\n} else if (evt === 'big3_erledigt') {\n  text = '🏅 *' + actorName + '* hat ein Big-3 Ziel erreicht (KW ' + (body.kw || '?') + ') — <' + appUrl + '|App öffnen>';\n  if (teamIds.length) targets = teamIds;\n} else if (evt === 'aufgabe_zugewiesen') {\n  text = '📋 *' + actorName + '* hat dir eine Aufgabe zugewiesen:\\n> *' + (body.aufgabe || '?') + '*';\n  if (body.prio) text += ' (' + body.prio + ')';\n  if (body.dl) text += ' — fällig: ' + body.dl;\n  text += '\\n<' + appUrl + '|App öffnen>';\n  if (body.fuer && body.fuer.slack_id) targets = [body.fuer.slack_id];\n} else if (evt === 'meilenstein_erledigt') {\n  text = '🎯 *' + actorName + '* hat einen Meilenstein erreicht!\\n> ✅ *' + (body.meilenstein || '?') + '*';\n  if (teamIds.length) targets = teamIds;\n} else if (evt === 'aufgabe_weitergeleitet') {\n  text = '↪️ *' + actorName + '* hat deine Aufgabe weitergeleitet:\\n> *' + (body.aufgabe || '?') + '*\\n> Neuer Zuständiger: *' + (body.weitergeleitet_an || '?') + '*\\n<' + appUrl + '|App öffnen>';\n  if (body.fuer && body.fuer.slack_id) targets = [body.fuer.slack_id];\n} else if (evt === 'diskussion') {\n  const typ = body.typ || 'Thema';\n  const thema = body.thema || '?';\n  const notiz = body.notiz ? '\\n> 💬 ' + body.notiz : '';\n  const bereich = body.bereich && body.bereich !== 'alle' ? ' (für ' + body.bereich + ')' : '';\n  text = '🗣️ *' + actorName + '* möchte besprechen:\\n> *' + typ + bereich + ':* ' + thema + notiz + '\\n\\nBitte hier im Thread diskutieren 👇';\n} else if (evt === 'wolke_zurueck') {\n  const typ = body.typ || 'Wolke';\n  text = '↩ *' + actorName + '* hat deine ' + typ + ' zurückgegeben:\\n> *' + (body.thema || '?') + '*\\nSie ist jetzt im allgemeinen Pool.\\n<' + appUrl + '|App öffnen>';\n  if (body.fuer && body.fuer.slack_id) targets = [body.fuer.slack_id];\n} else if (evt === 'blocker') {\n  text = '⚠️ *' + actorName + '* meldet einen Blocker:\\n> ' + (body.blocker || '?');\n}\n\nreturn targets.map(ch => ({ json: { channel: ch, text: text } }));"
      },
      "id": "code1",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": "={{ $json.channel }}",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack1",
      "name": "Slack DM",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [500, 0],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[ { "node": "Format", "type": "main", "index": 0 } ]]
    },
    "Format": {
      "main": [[ { "node": "Slack DM", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
