n8n-flow-slack-kontext.json
{
  "name": "Slack → Kontext-Feed (Halleluja OS)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "15 6 * * *" }]
        }
      },
      "id": "schedule",
      "name": "Jeden Morgen 6:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Channels die überwacht werden sollen\n// ⚠️ ANPASSEN: Channel-IDs prüfen!\nconst CHANNELS = [\n  { id: 'C0A8WLX7NGY', name: 'abschluesse', label: 'Abschlüsse', priority: 'hoch' },\n  { id: 'C0A82BRRS1Y', name: 'kpi-flow', label: 'KPI-Flow', priority: 'hoch' },\n  { id: 'C0AEQNWAXC1', name: 'leadqualitaet', label: 'Leadqualität', priority: 'hoch' },\n  { id: 'C0A91KKJE9X', name: 'team-setter', label: 'Team Setter', priority: 'mittel' },\n  { id: 'C0A7LTX603Z', name: 'team-vetrieb', label: 'Team Vertrieb', priority: 'mittel' },\n  { id: 'C0A80AWEEMC', name: 'rechnungsstellung', label: 'Rechnungen', priority: 'mittel' },\n  { id: 'C0A7W0GH003', name: 'team-marketing', label: 'Team Marketing', priority: 'mittel' },\n];\n\nreturn CHANNELS.map(c => ({ json: c }));"
      },
      "id": "channel-list",
      "name": "Channel-Liste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "channel", "value": "={{ $json.id }}" },
            { "name": "oldest", "value": "={{ Math.floor((Date.now() - 24*60*60*1000) / 1000) }}" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": {}
      },
      "id": "slack-history",
      "name": "Slack: Letzte 24h Nachrichten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0],
      "notes": "Holt die letzten 24h Nachrichten pro Channel. Auth: Slack OAuth2 oder Bot Token."
    },
    {
      "parameters": {
        "jsCode": "const channel = $('Channel-Liste').first().json;\nconst messages = $json.messages || [];\n\nif (messages.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\n// Nachrichten aufbereiten (ohne Bot-Messages, ohne Joins)\nconst relevantMsgs = messages\n  .filter(m => !m.subtype && !m.bot_id && m.text && m.text.length > 5)\n  .map(m => {\n    const ts = new Date(parseFloat(m.ts) * 1000);\n    const time = ts.getHours() + ':' + String(ts.getMinutes()).padStart(2, '0');\n    // Text kürzen auf max 150 Zeichen\n    const text = m.text\n      .replace(/<@[A-Z0-9]+>/g, '@jemand')\n      .replace(/<#[A-Z0-9]+\\|([^>]+)>/g, '#$1')\n      .replace(/<[^>]+>/g, '')\n      .slice(0, 150);\n    return { time, text, reactions: (m.reactions || []).length };\n  });\n\nconst msgCount = relevantMsgs.length;\nif (msgCount === 0) {\n  return [{ json: { skip: true } }];\n}\n\n// Top-Nachrichten: die mit den meisten Reaktionen oder die neuesten\nconst topMsgs = relevantMsgs\n  .sort((a, b) => b.reactions - a.reactions)\n  .slice(0, 3)\n  .map(m => m.text.slice(0, 100))\n  .join(' | ');\n\nconst today = new Date().toISOString().slice(0, 10);\n\nconst zusammenfassung = `#${channel.name}: ${msgCount} Nachrichten (24h). Highlights: ${topMsgs}`;\n\nreturn [{\n  json: {\n    id: 'kf-slack-' + channel.name + '-' + today,\n    pid: null,\n    quelle: 'slack',\n    typ: 'channel-' + channel.name,\n    zusammenfassung,\n    rohdaten: {\n      channel: channel.name,\n      messageCount: msgCount,\n      topMessages: relevantMsgs.slice(0, 5)\n    },\n    relevanz: channel.priority,\n    created_at: new Date().toISOString(),\n    gueltig_bis: today\n  }\n}];"
      },
      "id": "code-per-channel",
      "name": "Pro Channel zusammenfassen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "skip-check", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "notTrue" } }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-empty",
      "name": "Leere Channels filtern",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/kontext_feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "supabase-upsert",
      "name": "Upsert kontext_feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/kontext_feed?quelle=eq.slack&created_at=lt.{{ new Date(Date.now() - 2*86400000).toISOString() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "options": {}
      },
      "id": "cleanup",
      "name": "Alte Slack-Einträge (>2d) löschen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 250],
      "notes": "Löscht Slack-Kontext älter als 2 Tage"
    }
  ],
  "connections": {
    "Jeden Morgen 6:15": {
      "main": [[
        { "node": "Channel-Liste", "type": "main", "index": 0 },
        { "node": "Alte Slack-Einträge (>2d) löschen", "type": "main", "index": 0 }
      ]]
    },
    "Channel-Liste": {
      "main": [[ { "node": "Slack: Letzte 24h Nachrichten", "type": "main", "index": 0 } ]]
    },
    "Slack: Letzte 24h Nachrichten": {
      "main": [[ { "node": "Pro Channel zusammenfassen", "type": "main", "index": 0 } ]]
    },
    "Pro Channel zusammenfassen": {
      "main": [[ { "node": "Leere Channels filtern", "type": "main", "index": 0 } ]]
    },
    "Leere Channels filtern": {
      "main": [[ { "node": "Upsert kontext_feed", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
