n8n-flow-morning-nudge.json
{
  "name": "Morning Nudge → Slack DM mit Top-Priorität",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0,
              "triggerAtDay": {
                "value": ["1","2","3","4","5"]
              }
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Mo-Fr 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/personen?slack_id=not.is.null&select=id,name,slack_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "load-personen",
      "name": "Personen mit Slack-ID laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/aufgaben?status=in.(neu,backlog,zugewiesen)&prio=eq.P1&select=id,pid,titel,prio,dl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "load-aufgaben",
      "name": "P1-Aufgaben laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge",
      "name": "Zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "jsCode": "// Personen kommen als Array im ersten Input\n// Aufgaben kommen als Array im zweiten Input\nconst personen = $input.first().json;\nconst aufgaben = items.length > 1 ? $input.last().json : [];\n\n// Wenn die Inputs als Arrays kommen\nconst pList = Array.isArray(personen) ? personen : [personen];\nconst aList = Array.isArray(aufgaben) ? aufgaben : [aufgaben];\n\nconst APP_URL = $env.APP_URL || 'https://ludwig-a11y.github.io/halleluja-os/';\nconst today = new Date().toISOString().slice(0, 10);\n\nconst results = [];\n\nfor (const p of pList) {\n  if (!p.slack_id) continue;\n\n  // P1-Aufgaben dieser Person\n  const meineP1 = aList.filter(a => String(a.pid) === String(p.id));\n\n  if (meineP1.length === 0) {\n    // Kein P1 offen\n    results.push({\n      json: {\n        channel: p.slack_id,\n        text: `☀️ Guten Morgen, ${p.name}!\\n\\nKein P1 offen — schau kurz rein ob alles passt:\\n<${APP_URL}|Halleluja OS öffnen>`\n      }\n    });\n    continue;\n  }\n\n  // Sortiere nach Deadline (früheste zuerst), dann nach Erstellung\n  meineP1.sort((a, b) => {\n    if (a.dl && b.dl) return a.dl.localeCompare(b.dl);\n    if (a.dl) return -1;\n    if (b.dl) return 1;\n    return 0;\n  });\n\n  const top = meineP1[0];\n  let dlInfo = '';\n  if (top.dl) {\n    const dlDate = new Date(top.dl + 'T12:00:00');\n    const diff = Math.ceil((dlDate - new Date(today + 'T12:00:00')) / 86400000);\n    if (diff === 0) dlInfo = '⏰ Fällig: heute';\n    else if (diff === 1) dlInfo = '⏰ Fällig: morgen';\n    else if (diff < 0) dlInfo = '🔴 Überfällig seit ' + Math.abs(diff) + ' Tag' + (Math.abs(diff) > 1 ? 'en' : '');\n    else dlInfo = '📅 Fällig in ' + diff + ' Tagen';\n  }\n\n  const deepLink = `${APP_URL}#task=${top.id}`;\n  let msg = `☀️ Guten Morgen, ${p.name}!\\n\\n🎯 *Deine Top-Priorität heute:*\\n> *${top.titel}*`;\n  if (dlInfo) msg += `\\n> ${dlInfo}`;\n  msg += `\\n\\n<${deepLink}|Hier starten →>`;\n  if (meineP1.length > 1) msg += `\\n\\n_+ ${meineP1.length - 1} weitere P1-Aufgabe${meineP1.length > 2 ? 'n' : ''}_`;\n\n  results.push({ json: { channel: p.slack_id, text: msg } });\n}\n\nreturn results;"
      },
      "id": "format-messages",
      "name": "Nachrichten pro Person",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400],
      "notesInFlow": true,
      "notes": "Pro Person: Top P1 nach Deadline sortiert, Slack-Nachricht mit Deep Link formatieren. APP_URL aus Environment Variable oder Fallback."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.text, unfurl_links: false }) }}",
        "options": {}
      },
      "id": "slack-dm",
      "name": "Slack DM senden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Mo-Fr 9:00": {
      "main": [
        [
          { "node": "Personen mit Slack-ID laden", "type": "main", "index": 0 },
          { "node": "P1-Aufgaben laden", "type": "main", "index": 0 }
        ]
      ]
    },
    "Personen mit Slack-ID laden": {
      "main": [
        [{ "node": "Zusammenführen", "type": "main", "index": 0 }]
      ]
    },
    "P1-Aufgaben laden": {
      "main": [
        [{ "node": "Zusammenführen", "type": "main", "index": 1 }]
      ]
    },
    "Zusammenführen": {
      "main": [
        [{ "node": "Nachrichten pro Person", "type": "main", "index": 0 }]
      ]
    },
    "Nachrichten pro Person": {
      "main": [
        [{ "node": "Slack DM senden", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
